<launch>
    <arg name="use_camera_manager" default="false"/>
    <arg name="camera_name" default="camera"/>
    <arg name="is_side_cam" default="false"/>

    <arg if="$(arg use_camera_manager)"     name="nodelet_command"  value="load"/>
    <arg if="$(arg use_camera_manager)"     name="manager_name"     value="/camera_nodelet_manager"/>
    <arg unless="$(arg use_camera_manager)" name="nodelet_command"  value="standalone"/>
    <arg unless="$(arg use_camera_manager)" name="manager_name"     value=""/>

    <node pkg="nodelet" type="nodelet" name="cone_projector" output="screen"
          args="$(arg nodelet_command) rr_platform/pointcloud_projector $(arg manager_name)"
          ns="$(arg camera_name)" required="true">
        <param name="camera_info_topic" value="camera_info"/>
        <param name="camera_tf_frame" value="$(arg camera_name)"/>
        <param name="image_topic_in" value="/camera/cones/bottom/detection_img"/>
        <param name="pointcloud_topic_out" value="cones/cloud"/>
        <param name="load_timeout" value="300"/>


        <param name="max_forward" value="100.0"/>
        <param name="downsample_factor" type="int" value="1"/>
    </node>
</launch>
