<launch>

    <!-- <include file="$(find rr_evgp)/launch/lidar_z_threshold.launch"/> -->

    <node name="cone_connect" pkg="rr_evgp" type="cone_connect" output="screen">
        <param name="cones_topic" value="/opponent_centroids"/>
        <param name="walls_topic" value="/walls"/>
        <param name="cone_distance" value="10"/>

        <param name="map_size" value="300"/>
        <param name="map_resolution" value="0.2"/>
    </node>
</launch>
