<launch>
    <remap from="/plan/speed" to="/speed"/>
    <remap from="/plan/steering" to="/steering"/>

    <!-- <include file="$(find rr_evgp)/launch/cone_connection.launch"/> -->

    <!-- <include file="$(dirname)/mapping_sim.launch"/> -->

    <node pkg="rr_common" type="planner" name="planner" output="screen" required="true">
        <rosparam command="load" file="$(find rr_evgp)/conf/planner_sim.yaml" subst_value="true"/>
    </node>

    <!-- <node pkg="rviz" type="rviz" name="evgp_rviz" output="log" required="false" respawn="false"
          args="-d $(find rr_evgp)/rviz/evgp.rviz"/> -->
</launch>
