<launch>
  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen"/>

  <!-- Run a passthrough filter to clean NaNs -->
  <node pkg="nodelet" type="nodelet" name="passthrough" args="load pcl/PassThrough pcl_manager" output="screen">
    <remap from="~input" to="/velodyne_points"/>
    <remap from="~output" to="/lidar_thresholded"/>
    <rosparam>
      filter_field_name: z
      filter_limit_min: -2
      filter_limit_max: 0
      filter_limit_negative: True
    </rosparam>
  </node>
</launch>
