<launch>
    <arg name="map_origin_x" default="0.0"/>
    <arg name="map_origin_y" default="0.0"/>

    <!-- transform from world -> map -> odom to make localization/mapping happy -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="$(anon tf_static_world_to_map)"
          args="$(eval ' '.join([str(map_origin_x), str(map_origin_y), '0 0 0 0 world map']))"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="$(anon tf_static_map_to_odom)"
          args="$(eval ' '.join([str(-map_origin_x), str(-map_origin_y), '0 0 0 0 map odom']))"/>

    <node pkg="robot_localization" type="ekf_localization_node" name="localization" output="screen">
        <rosparam command="load" file="$(find rr_evgp)/conf/robot_localization_from_ground_truth.yaml"
                  subst_value="True"/>
    </node>

    <node pkg="robot_localization" type="ekf_localization_node" name="localization2" output="screen">
            <rosparam command="load" file="$(find rr_evgp)/conf/opponent_localization_from_ground_truth.yaml"
                      subst_value="True"/>
        </node>

</launch>
