<launch>
    <node pkg="robot_localization" type="ekf_localization_node" name="perfect_localization" output="screen">
        <rosparam subst_value="True" command="load"
                  file="$(find rr_evgp)/conf/robot_localization_from_ground_truth.yaml"/>
    </node>

    <group ns="mapping">
        <node pkg="tf2_ros" type="static_transform_publisher" name="tf_static_world_to_map"
              args="args=0 0 0 0 0 0 world map"/>
        <node pkg="tf2_ros" type="static_transform_publisher" name="tf_static_map_to_odom"
              args="args=0 0 0 0 0 0 map odom"/>
    </group>
</launch>
