<launch>
    <arg name="map_size" value="1000.0"/>

    <!-- identity transform from world -> map -> odom to make localization/mapping happy -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_static_world_to_map"
          args="$(eval ' '.join([str(-map_size/2), str(-map_size/2), '0 0 0 0 world map']))"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_static_map_to_odom"
          args="$(eval ' '.join([str(map_size/2), str(map_size/2), '0 0 0 0 map odom']))"/>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" output="screen">
        <rosparam command="load" file="$(find rr_evgp)/conf/robot_localization_from_sensors.yaml"
                  subst_value="True"/>
    </node>

    <!-- @Note: see https://github.com/ros-agriculture/tractor_localization for a good explanation of parameters -->
    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">
        <param name="magnetic_declination_radians" value="0"/> <!-- #TODO: mag declination of shop / speedway -->
        <param name="yaw_offset" value="1.5708"/> <!-- offset by 90 degrees for ENU-->
        <param name="zero_altitude" value="true"/>

        <param name="use_odometry_yaw" value="false"/>
        <param name="wait_for_datum" value="false"/>

        <remap from="/imu/data" to="/imu"/>
        <remap from="/gps/fix" to="/gps/fix"/>
        <remap from="/odometry/filtered" to="/odometry/filtered"/>
    </node>


    <node pkg="costmap_2d" type="costmap_2d_node" name="basic_mapper" output="screen">
        <!--<rosparam command="load" file="$(find rr_evgp)/conf/mapping_basic.yaml" subst_value="True"/>-->
        <rosparam command="load" file="$(find rr_evgp)/conf/mapping_filtered.yaml" subst_value="True"/>
    </node>

</launch>
