<launch>
    <arg name="map_size" value="300.0"/>

    <!-- identity transform from world -> map -> odom to make localization/mapping happy -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_static_world_to_map"
          args="$(eval ' '.join([str(-map_size/2), str(-map_size/2), '0 0 0 0 world map']))"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_static_map_to_odom"
          args="$(eval ' '.join([str(map_size/2), str(map_size/2), '0 0 0 0 map odom']))"/>

    <node pkg="robot_localization" type="ekf_localization_node" name="perfect_localization" output="screen">
        <rosparam command="load" file="$(find rr_evgp)/conf/robot_localization_from_ground_truth.yaml"
                  subst_value="True"/>
    </node>

    <node pkg="costmap_2d" type="costmap_2d_node" name="basic_mapper" output="screen">
        <rosparam command="load" file="$(find rr_evgp)/conf/costmap_2d_basic_mapping.yaml" subst_value="True"/>
    </node>
</launch>
