<launch>
    <remap from="/plan/speed" to="/speed"/>
    <remap from="/plan/steering" to="/steering"/>

    <node pkg="map_server" type="map_server" name="map_server" required="false" output="screen"
          args="$(find rr_evgp)/conf/shadow_map_sim.yaml">
        <param name="frame_id" value="map"/>
        <remap from="map" to="static_map"/>
    </node>

    <include file="$(dirname)/localization_sim.launch"/>

    <node pkg="costmap_2d" type="costmap_2d_node" name="local_mapper" output="screen">
        <rosparam command="load" file="$(find rr_evgp)/conf/mapping_common.yaml" subst_value="true"/>
        <rosparam command="load" file="$(find rr_evgp)/conf/mapping_local_shadow_track.yaml" subst_value="true"/>
    </node>

    <node pkg="rr_common" type="planner" name="planner" output="screen" required="true">
        <rosparam command="load" file="$(find rr_evgp)/conf/planner_sim.yaml" subst_value="true"/>
    </node>

    <node pkg="rviz" type="rviz" name="evgp_rviz" output="log" required="false" respawn="false"
          args="-d $(find rr_evgp)/rviz/evgp_staticmap.rviz"/>
</launch>
