<launch>
    <remap from="plan/speed" to="/speed"/>
    <remap from="plan/steering" to="/steering"/>

    <include file="$(find avc)/launch/mapper.launch"/>
    <include file="$(find avc)/launch/planner_avc.launch"/>
    <!--<include file="$(find avc)/launch/image_to_pcl.launch"/>-->
    <!--<node pkg="avc" type="obstacle_history" name="obstacle_history" output="screen"/>-->
</launch>
