<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <remap from="/plan/speed" to="/speed"/>
    <remap from="/plan/steering" to="/steering"/>

    <include file="$(find avc)/launch/mapper.launch"/>

    <include file="$(find avc)/launch/planner.launch">
        <arg name="wheel_base" value="0.37"/>
        <arg name="lateral_accel" value="0.7"/>
        <arg name="max_speed" value="2.0"/>
        <arg name="collision_dist_front" value="0.3"/>
        <arg name="collision_dist_back" value="0.1"/>
        <arg name="collision_dist_side" value="0.15"/>
        <arg name="steer_limit" value="0.3"/>
        <arg name="input_cloud_topic" value="/current_obstacles"/>
        <arg name="smoothing_array_size" value="3"/>
    </include>
</launch>
