<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <include file="$(find avc)/launch/mapper.launch"/>
    <node name="follower" pkg="rr_common" type="follower" output="screen">
        <param name="MIN_X" value="0.3"/>
        <param name="MAX_X" value="5.0"/>
        <param name="GOAL_X" value="2.0"/>
        <param name="GOAL_SIZE" value=".4"/>
        <param name="MIN_Y" value="-0.2"/>
        <param name="MAX_Y" value="0.2"/>
        <param name="FOLLOWER_SPEED" value="1.0"/>
        <param name="INPUT_CLOUD_TOPIC" value="/current_obstacles"/>
    </node>
</launch>
