<launch>
    <node pkg="rr_common" type="mapper" name="mapper">
        <!--<param name="sources" value="/scan/pointcloud"/>-->
        <param name="sources" value="/scan/pointcloud,/camera/depth/points"/>
        <param name="destination" value="/current_obstacles"/>
        <param name="refresh_rate" value="10"/>
        <param name="combined_frame" value="base_footprint"/>
        <param name="ground_threshold" value="0.05"/>
    </node>
</launch>
