<launch>

    <node name="planner" pkg="avc" type="planner" output="screen" respawn="false">
        <param name="steer_stddev"     type="double" value ="15" />
        <param name="max_steer_angle"  type="double" value ="30" />
        <param name="max_speed"        type="double" value ="1.5" />
        <param name="path_time"        type="double" value ="4.0" />
        <param name="time_increment"   type="double" value ="0.1" />
        <param name="collision_radius" type="double" value ="0.2" />
    </node>

</launch>
