<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <remap from="/plan/speed" to="/speed"/>
    <remap from="/plan/steering" to="/steering"/>

    <include file="$(find rr_platform)/launch/sedani.launch"/>

    <include file="$(find avc)/launch/mapper.launch"/>
    <include file="$(find avc)/launch/planner_sedani.launch"/>
</launch>
