<robot name="evgp_opponent" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="evgp_body.urdf.xacro"/>

    <xacro:evgp_body collision_bitmask="0x10" color="Yellow"
    april2="tag36_11_00022"
    april3="tag36_11_00023"
    april4="tag36_11_00024"
    april5="tag36_11_00025"
    april6="tag36_11_00026"/>

</robot>
