# UVC cameras
SUBSYSTEMS=="usb", ENV{DEVTYPE}=="usb_device", ATTRS{idVendor}=="0458", ATTRS{idProduct}=="708c", MODE="0666"

KERNEL=="ttyACM[0-9]*", ACTION=="add", ATTRS{manufacturer}=="Arduino (www.arduino.cc)", SYMLINK+="arduino"

KERNEL=="ttyACM[0-9]*", ACTION=="add", ATTRS{manufacturer}=="mbed", SYMLINK+="mbed"

