<?xml version="1.0" ?>
<model>
    <name>AVC Course Boundary</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Matthew Barulic</name>
        <email>matthew.barulic@gmail.com</email>
    </author>
    <description>Course boundary structures for Sparkfun's AVC.</description>
</model>
