*/CMakeFiles/*

# Clion project files
*/*.idea
*.idea

# Sublime Text 3 project files
*.sublime-project
*/*.sublime-project
*.sublime-workspace
*/*.sublime-workspace

# gedit autosave files
*~

# python bytecode
*.pyc

#bag files and pickles of bag files
*.bag
*.pkl.gz

# exported neural nets in their default location
util/neural_nets/*.h5
