*/CMakeFiles/*
cmake-build-debug/*
*/cmake-build-debug/*

# Clion project files
*/*.idea
*.idea

# Sublime Text 3 project files
*.sublime-project
*/*.sublime-project
*.sublime-workspace
*/*.sublime-workspace

# gedit autosave files
*~

# python bytecode
*.pyc

# bag files
*.bag

# ML training data
rr_ml/data/*
