[submodule "third_party/pointgrey_camera_driver"]
	path = third_party/pointgrey_camera_driver
	url = https://github.com/ros-drivers/pointgrey_camera_driver.git
[submodule "third_party/rj-ros-common"]
	path = third_party/rj-ros-common
	url = https://github.com/RoboJackets/rj-ros-common.git
[submodule "third_party/ethz_piksi_ros"]
	path = third_party/ethz_piksi_ros
	url = https://github.com/ethz-asl/ethz_piksi_ros.git
[submodule "third_party/velodyne"]
	path = third_party/velodyne
	url = https://github.com/ros-drivers/velodyne.git
[submodule "third_party/geometry2"]
	path = third_party/geometry2
	url = https://github.com/ros/geometry2.git
[submodule "third_party/velodyne_simulator"]
	path = third_party/velodyne_simulator
	url = https://bitbucket.org/DataspeedInc/velodyne_simulator.git
[submodule "third_party/dynamic_reconfigure"]
	path = third_party/dynamic_reconfigure
	url = https://github.com/ros/dynamic_reconfigure.git
	branch = add-yaml-load-loader
[submodule "third_party/serial"]
	path = third_party/serial
	url = https://github.com/wjwwood/serial.git
