[submodule "third_party/velodyne_simulator"]
	path = third_party/velodyne_simulator
	url = https://bitbucket.org/DataspeedInc/velodyne_simulator
[submodule "teb_local_planner"]
	path = teb_local_planner
	url = https://github.com/rst-tu-dortmund/teb_local_planner.git
[submodule "costmap_converter"]
	path = costmap_converter
	url = https://github.com/rst-tu-dortmund/costmap_converter.git
[submodule "third_party/nav2_test_utils"]
	path = third_party/nav2_test_utils
	url = https://github.com/fmrico/nav2_test_utils.git
