[submodule "third_party/velodyne_simulator"]
	path = third_party/velodyne_simulator
	url = https://bitbucket.org/DataspeedInc/velodyne_simulator
[submodule "third_party/realsense-ros"]
	path = third_party/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
