<launch>
    <arg name="bag_file"/>
    <arg name="image_topic"/>
    <arg name="num_images"/>

    <include file="$(find rr_ml)/launch/bag_image_extractor.launch">
        <arg name="extract_directory" value="$(find rr_ml)/data/segmentation/iarrc_lines"/>
        <arg name="image_format" value=".png"/>
        <arg name="bag_file" value="$(arg bag_file)"/>
        <arg name="image_topic" value="$(arg image_topic)"/>
        <arg name="num_images" value="$(arg num_images)"/>
    </include>
</launch>
