<!-- Stolen from realsense_camera r200_nodelet_rgbd.launch -->
<launch>

  <!-- Optionally suppress loading the driver nodelet. Useful while playing back recorded raw data from a bag.-->
  <arg name="load_driver"   default="true" />

  <!-- Push down all topics/nodelets into "camera" namespace -->
  <group ns="camera">

    <!-- Start nodelet manager in provided namespace -->
    <include file="$(find rgbd_launch)/launch/includes/manager.launch.xml">
      <arg name="name"                value="camera_nodelet_manager" />
      <arg name="debug"               value="false" />
      <arg name="num_worker_threads"  value="4" />
    </include>

    <!-- Load driver -->
    <include if="$(arg load_driver)"
             file="$(find realsense_camera)/launch/includes/nodelet_rgbd.launch.xml">
      <arg name="manager"                   value="camera_nodelet_manager" />
      <arg name="camera"                    value="camera" />
      <arg name="camera_type"               value="ZR300" />
      <arg name="serial_no"                 value="" />
      <arg name="usb_port_id"               value="" />
      <arg name="depth"                     value="depth" />
      <arg name="rgb"                       value="rgb" />
      <arg name="ir"                        value="ir" />
      <arg name="publish_tf"                value="true" />
      <arg name="mode"                      value="manual" />
      <arg name="depth_width"               value="480" />
      <arg name="depth_height"              value="360" />
      <arg name="color_width"               value="640" />
      <arg name="color_height"              value="480" />
      <arg name="depth_fps"                 value="30" />
      <arg name="color_fps"                 value="30" />
    </include>

    <!-- Load standard constellation of processing nodelets -->
    <include file="$(find rgbd_launch)/launch/includes/processing.launch.xml">
      <arg name="manager"                         value="camera_nodelet_manager" />
      <arg name="rgb"                             value="rgb" />
      <arg name="ir"                              value="ir" />
      <arg name="depth"                           value="depth" />
      <arg name="depth_registered"                value="depth_registered" />
      <arg name="projector"                       value="projector" />
      <arg name="respawn"                         value="false" />
      <arg name="rgb_processing"                  value="true" />
      <arg name="ir_processing"                   value="true" />
      <arg name="depth_processing"                value="true" />
      <arg name="depth_registered_processing"     value="false" />
      <arg name="disparity_processing"            value="true" />
      <arg name="disparity_registered_processing" value="false" />
      <arg name="hw_registered_processing"        value="false" />
      <arg name="sw_registered_processing"        value="false" />
    </include>

  </group> <!-- camera -->

  <node pkg="rr_platform" type="bigoli_camera_dynconfig.sh" name="dynamic_configurator"/>

</launch>
