<launch>
  <node pkg="nodelet" type="nodelet" name="camera_nodelet" output="screen"
        args="load libuvc_camera/driver /camera_nodelet_manager">
    <param name="vendor" value="0x046d"/>
    <param name="product" value="0x082d"/>
    <param name="width" value="640"/>
    <param name="height" value="360"/>
    <param name="video_mode" value="uncompressed"/>
    <param name="frame_rate" value="20"/>
  </node>
</launch>
  
