<launch>
    <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" output="screen" 
          args="manager">
        <!-- <param name="num_worker_threads" value="32" /> -->
    </node>

    <include file="$(dirname)/camera_pipeline.launch">
        <arg name="side" value="center"/>
        <arg name="type" value="flir_blackfly"/>
        <arg name="serial" value="18064461"/>
        <arg name="manager_launched" value="true"/>
    </include>

    <!-- <include file="$(dirname)/camera_pipeline.launch">
        <arg name="side" value="left"/>
        <arg name="type" value="logitech_c615"/>
        <arg name="serial" value="D0CF4CA0"/>
        <arg name="manager_launched" value="true"/>
    </include>

    <include file="$(dirname)/camera_pipeline.launch">
        <arg name="side" value="right"/>
        <arg name="type" value="logitech_c615"/>
        <arg name="serial" value="FC72EDA0"/>
        <arg name="manager_launched" value="true"/>
    </include> -->

    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="camera_configurator"/>
</launch>
