<launch>
    <!-- load robot urdf to parameter server -->
    <param name="robot_description" command="cat $(find rr_description)/urdf/sedani.urdf"/>

    <!-- publish dummy values for /joint_states -->
    <node name="sedani_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

    <!-- subscribe to /joint_states and use that to publish /tf -->
    <node name="sedani_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>

