<?xml version="1.0"?>

<model>
  <name>IARRC Noisy Track</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Sahit Chintalapudi</name>
    <email>chsahit@gmail.com</email>
  </author>

  <description>
    IARRC Circuit track layout with colored lines that are lighter and darker and more noisy pixels.
  </description>
</model>
