<launch>
  <arg name="image_topic" default="camera/image_raw"/>
  <arg name="categories" default="0.1 0.3"/>
  <arg name="model_path" default="$(find rr_common)/nn_models/model_outdoor0304_2.h5"/>

  <node pkg="rr_common" type="nn_planner.py" name="nn_planner" output="screen" respawn="false">
    <param name="model_path" type="string" value="$(arg model_path)" />
    <param name="image_topic" type="string" value="$(arg image_topic)"/>
    <param name="steer_categories" type="string" value="$(arg categories)"/>
  </node>
</launch>
