<robot name="evgp" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="props" value="${load_yaml('../conf/evgp_car_params.yaml')}"/>
    <xacro:property name="body_inertia" value="${props['body_inertia']}"/>

    <xacro:macro name="null_inertia">
        <inertial>
            <mass value="0.0001"/>
            <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
        </inertial>
    </xacro:macro>

    <xacro:macro name="mesh_geometry">
        <geometry>
            <mesh filename="package://rr_description/meshes/EVGP_robot.STL" scale="0.001 0.001 0.001"/>
        </geometry>
    </xacro:macro>

    <xacro:macro name="set_link_color" params="link color">
        <gazebo reference="${link}">
            <material>Gazebo/${color}</material>
        </gazebo>
    </xacro:macro>

    <xacro:macro name="evgp_body" params="collision_bitmask color">

        <!-- ************************** Links *************************** -->

        <link name="base_footprint">
            <xacro:null_inertia/>
        </link>

        <link name="body_visual_origin">
            <xacro:null_inertia/>
            <visual>
                <xacro:mesh_geometry/>
            </visual>
            <collision>
                <xacro:mesh_geometry/>
            </collision>
        </link>
        <xacro:set_link_color link="body_visual_origin" color="${color}"/>
        <gazebo reference="body_visual_origin">
            <collision>
                <surface>
                    <contact>
                        <collide_bitmask>${collision_bitmask}</collide_bitmask>
                    </contact>
                </surface>
            </collision>
        </gazebo>

        <link name="body_inertial_center">
            <inertial>
                <mass value="${props['body_mass']}"/>
                <inertia ixx="${body_inertia[0]}" ixy="${body_inertia[1]}" ixz="${body_inertia[2]}"
                         iyy="${body_inertia[3]}" iyz="${body_inertia[4]}" izz="${body_inertia[5]}"/>
            </inertial>
        </link>
        <gazebo reference="body_inertial_center"/>


        <!-- ************************** Joints *************************** -->

        <joint name="base_footprint_to_mesh_origin" type="fixed">
            <parent link="base_footprint"/>
            <child link="body_visual_origin"/>
            <origin xyz="1.45 0.515 -0.051" rpy="${pi/2} 0 ${-pi/2}"/>
        </joint>

        <joint name="base_footprint_to_body_inertial_center" type="fixed">
            <parent link="base_footprint"/>
            <child link="body_inertial_center"/>
            <origin xyz="${' '.join(str(x) for x in props['body_com'])}"/>
        </joint>

    </xacro:macro>

</robot>
