<robot name="speedi">
    
    <link name="chassis"/>
    <link name="camera"/>
    <link name="lidar"/>
    <link name="imu"/>
    
    <joint name="camera_joint" type="fixed">
        <parent link="chassis"/>
        <child link="camera"/>
        <origin xyz="0 0 0.3175" rpy="0 0 0"/>
        <axis xyz="0 0 0"/>
    </joint>

    <joint name="lidar_joint" type="fixed">
        <parent link="chassis"/>
        <child link="lidar"/>
        <origin xyz="0 0.28575 0" rpy="0 0 0"/>
        <axis xyz="0 0 0"/>
    </joint>

    <joint name="imu" type="fixed">
        <parent link="chassis"/>
        <child link="imu"/>
        <origin xyz="0 0 0.1778" rpy="0 0 0"/>
        <axis xyz="0 0 0"/>
    </joint>
</robot>
