<?xml version="1.0"?>

<model>
  <name>IARRC Curvy Track</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Sahit Chintalapudi</name>
    <email>chsahit@gmail.com</email>
  </author>

  <description>
      An IARRC styled circuit course with more turns
  </description>
</model>
