<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <node name="color_detector" pkg="iarrc" type="color_detector" output="screen"/>
    <include file="$(find iarrc)/launch/obstacles_to_pcl.launch"/>
    <!--<include file="$(find iarrc)/launch/stoplight_watcher.launch"/>-->
    <include file="$(find iarrc)/launch/race_end_detector.launch"/>

    <include file="$(find iarrc)/launch/planner_circuit.launch"/>

    <node name="navigation_controller" pkg="iarrc" type="navigation_controller" output="screen">
        <param name="req_finish_line_crosses" type="int" value="3"/>
    </node>
</launch>