<launch>

	<!-- Dragrace Controller node -->
	<node name="iarrc_dragrace_controller" pkg="iarrc" type="iarrc_dragrace_controller" output="screen" respawn="false">
		<param name="stoplight_topic" type="str" value="/light_change"/>
		<param name="wall_detect_topic" type="str" value="/wall_detect"/>
		<param name="drive_speed" type="int" value="11"/>
		<param name="speed_topic" type="str" value="/speed"/>
	</node>

</launch>
