<launch>
	<group>
		<include file="$(find iarrc)/launch/ps3eye.launch" />
		<include file="$(find iarrc)/launch/motor_relay.launch" />
		<include file="$(find iarrc)/launch/stoplight_watcher.launch" />
		<include file="$(find iarrc)/launch/color_detector_dragrace.launch" />
		<include file="$(find iarrc)/launch/speed_controller.launch" />
		<include file="$(find iarrc)/launch/steerer_dragrace.launch" />
	</group>
</launch>
