<launch>
	<group>
		<!-- <include file="$(find iarrc_launch)/launch/dragrace_controller.launch" /> -->
		<include file="$(find iarrc)/launch/ps3eye.launch" />
		<!-- <include file="$(find iarrc)/launch/visual_cone_detector.launch" /> -->
		<include file="$(find iarrc)/launch/frame_merger.launch" />
		<include file="$(find iarrc)/launch/motor_relay.launch" />
		<include file="$(find iarrc)/launch/stoplight_watcher.launch" />
		<include file="$(find iarrc)/launch/drag_race_steerer.launch" />
	</group>
</launch>
