<launch>
  <node name="iarrc_lane_detection" pkg="iarrc_software" type="iarrc_line_detection" output="screen">
    <!-- Truncation -->
    <!-- Car body -->
	<param name="car_x" type="int" value="102"/>
	<param name="car_y" type="int" value="45"/>
	<param name="car_w" type="int" value="124"/>
	<param name="car_h" type="int" value="50"/>
  </node>
</launch>
