<?xml version="1.0"?>

<model>
  <name>IARRC Dragrace Track</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Matthew Barulic</name>
    <email>matthew.barulic@gmail.com</email>
  </author>

  <description>
    A simple ground plane tetured with the IARRC Dragrace track layout.
  </description>
</model>
