<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <include file="$(find avc)/launch/mapper.launch"/>
    <node name="follower" pkg="rr_common" type="follower" output="screen">
        <param name="MIN_FRONT_VISION" value="0.4"/>
        <param name="MAX_FRONT_VISION" value="4.0"/>
        <param name="GOAL_DIST" value="2.0"/>
        <param name="GOAL_MARGIN_OF_ERR" value=".2"/>
        <param name="MIN_SIDE_VISION" value="-0.2"/>
        <param name="MAX_SIDE_VISION" value="0.2"/>
        <param name="FOLLOWER_SPEED" value="1.0"/>
        <param name="INPUT_CLOUD_TOPIC" value="/current_obstacles"/>
    </node>
</launch>
