<launch>
    <remap from="/plan/steering" to="/steering"/>
    <remap from="/plan/speed" to="/speed"/>
    
    <include file="$(find rr_iarrc)/launch/perception/laplacian_line_detector_front.launch"/>
    <!-- <include file="$(dirname)/line_detector_segnet.launch"/> -->

    <include file="$(find rr_iarrc)/launch/perception/lines_projector.launch">
        <arg name="use_camera_manager" value="true"/>
    </include>

    <!-- <include file="$(find rr_iarrc)/launch/perception/cone_detection.launch"/> -->
    <!-- <include file="$(find rr_iarrc)/launch/perception/cone_detection_point.launch"/> -->

    <!-- <node pkg="rr_iarrc" type="simple_lane_keeper.py" name="simple_lane_keeper" output="screen"/> -->

    <include file="$(dirname)/mpc_planner_sedani.launch"/>

</launch>
