<launch>
    <node pkg="rr_common" type="planner" name="planner" output="screen">
        <rosparam command="load" file="$(find rr_iarrc)/conf/planner_sedani.yaml"/>
        <rosparam command="load" file="$(find rr_iarrc)/conf/planner_opt_circuit.yaml"/>

        <rosparam>
            input_cloud_topic: camera_center/lines/cloud  # /current_obstacles
            impasse_caution_duration: 100000
            impasse_reverse_duration: 0.2
        </rosparam>
    </node>
</launch>
