<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <remap from="/plan/speed" to="/speed"/>
    <remap from="/plan/steering" to="/steering"/>

    <include file="$(find rr_iarrc)/launch/perception/line_detection_3cam.launch"/>

    <include file="$(find rr_iarrc)/launch/perception/cone_bottom_detector.launch"/>

    <include file="$(find rr_iarrc)/launch/perception/cones_projector.launch">
        <arg name="use_camera_manager" value="true"/>
    </include>

    <include file="$(find rr_iarrc)/launch/perception/local_mapper.launch">
        <arg name="obstacles_topic" value="/current_obstacles"/>
    </include>

    <include file="$(dirname)/mpc_planner_obstacle_avoidance.launch"/>
</launch>
