<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <remap from="/plan/speed" to="/speed"/>
    <remap from="/plan/steering" to="/steering"/>

    <include file="$(find rr_iarrc)/launch/perception/laplacian_line_detector_sim.launch"/>

<!--    <include file="$(find rr_iarrc)/launch/perception/pointcloud_converter.launch"/>-->
    <include file="$(find rr_iarrc)/launch/perception/lines_projector_sim.launch"/>

    <include file="$(find rr_iarrc)/launch/perception/local_mapper_sim.launch">
        <arg name="obstacles_topic" value="/lines/cloud"/>
<!--        <arg name="obstacles_topic" value="/lines/detection_img_transformed_cloud"/>-->
    </include>

    <node pkg="rr_common" type="planner" name="planner" output="screen">
        <rosparam command="load" file="$(find rr_iarrc)/conf/planner_sim.yaml"/>
    </node>
</launch>
