<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <remap from="/plan/steering" to="/steering"/>
    <remap from="/plan/speed" to="/speed"/>

    <!-- Sides Merger-->
    <include file="$(find rr_iarrc)/launch/perception/urc_sides_merger.launch"/>

    <!-- Front -->
    <include file="$(find rr_iarrc)/launch/perception/laplacian_line_detector_front.launch">
        <arg name="camera_namespace" value="camera_center"/>
    </include>
    <!-- Left -->
    <include file="$(find rr_iarrc)/launch/perception/laplacian_line_detector_side.launch">
        <arg name="camera_namespace" value="camera_left"/>
    </include>
    <!-- Right -->
    <include file="$(find rr_iarrc)/launch/perception/laplacian_line_detector_side.launch">
        <arg name="camera_namespace" value="camera_right"/>
    </include>

    <!-- Transform -->
    <node pkg="rr_common" type="image_transform" name="image_transform" output="screen">
        <param name="transform_topics" value="/camera_center/lines/detection_img"/>
        <param name="camera_info_topic" value="/camera_center/camera_info"/>
        <param name="camera_link_name" value="camera_center"/>
        <param name="px_per_meter" value="50"/>
        <param name="map_dist_max" value="4.0"/>
        <param name="map_dist_min" value="0.0"/>
        <param name="fallback_fov_horizontal" value="1.6955"/>
        <param name="fallback_fov_vertical" value="1.3758"/>
        <param name="fallback_image_width" value="1280"/>
        <param name="fallback_image_height" value="964"/>
    </node>

    <!-- Controller -->
    <node name="urc_controller" pkg="rr_iarrc" type="urc_controller" output="screen">
        <param name="lane_keeper" type="string" value="/lane_keeper"/>
        <param name="turning_action" type="string" value="/turning_action"/>
        <param name="turn_detected" type="string" value="/turn_detected"/>
        <param name="stop_bar_arrived" type="string" value="/stopbar_near"/>
        <param name="urc_turn_action" type="string" value="/turn_action"/>
    </node>

    <!-- Center Line -->
    <node name="drag_centerline_planner" pkg="rr_iarrc" type="drag_centerline_planner" output="screen">
        <!--PID Controller Constants-->
        <param name="PID_kP" type="double" value="0.001" />
        <param name="PID_kI" type="double" value="0.0" />
        <param name="PID_kD" type="double" value="0.0026" />

        <param name="speed" type="double" value="0.25" /> <!-- 3.1-->

        <param name="useHistogramFinder" type="bool" value="true" />

        <param name="maxTurnLimitRadians" type="double" value="0.16" />

        <param name="subscription_node" type="string" value="/urc_side_lanes"/>
        <remap from="/plan/steering" to="/lane_keeper/steering"/>
        <remap from="/plan/speed" to="/lane_keeper/speed"/>
    </node>

    <!-- Turn Action -->
    <node name="urc_turn_action" pkg="rr_iarrc" type="urc_turn_action" output="screen">
        <param name="turn_speed" type="double" value="0.6"/>
        <param name="left_turn_steering" type="double" value="-0.15"/>
        <param name="right_turn_steering" type="double" value="0.24"/>
        <param name="left_offset" type="double" value="0.0"/>
        <param name="right_offset" type="double" value="0.0"/>
       	<param name="forward_timeout" type="double" value="4.0"/>
        <param name="angle_threshold" type="double" value="0.1"/>
    </node>

    <node name="sign_detector" pkg="rr_iarrc" type="sign_detector" output="screen" required="true">
        <!-- Sign Detector Params -->
        <param name="front_image_subscription" type="string" value="/camera_center/image_color_rect"/>
        <param name="sign_string_publisher" type="string" value="/turn_detected"/>

        <!--Crop Area for detecting signs (-1 keeps whole screen)-->
        <param name="roi_x" type="int" value="600" />
        <param name="roi_y" type="int" value="300" />
        <param name="roi_width" type="int" value="680" />
        <param name="roi_height" type="int" value="350" />

        <param name="sign_file_package_name" type="string" value="rr_iarrc"/>
        <param name="sign_file_path_from_package" type="string" value="/src/sign_detector/sign_forward.jpg"/>

        <param name="template_confidence_threshold" type="double" value="0.8" />
        <param name="scalars_start" type="double" value="0.3" />
        <param name="scalars_end" type="double" value="1.2" />
        <param name="scalars_num" type="int" value="5" />

    </node>

    <node name="stopbar_detector" pkg="rr_iarrc" type="stopbar_detector" output="screen" required="true">
        <!-- Output Topics -->
        <param name="stopbar_near" type="string" value="/stopbar_near"/>
        <param name="stopbar_angle" type="string" value="/stopbar_angle"/>

        <!-- Camera Params-->
        <param name="overhead_image_subscription" type="string" value="/camera_center/lines/detection_img_transformed" />
        <param name="pixels_per_meter" type="int" value="50" />

        <!-- Stop Bar Detector Params -->
        <param name="stopBarGoalAngle" type="double" value="0.0" /> <!-- angle in degrees -->
        <param name="stopBarGoalAngleRange" type="double" value="25.0" /> <!-- we can come at the line from many angles! -->
        <param name="stopBarTriggerDistance" type="double" value="3.5" /> <!-- distance in meters -->
        <param name="sleep_adjust" type="double" value=".325"/>

        <!-- Hough Line Params-->
        <param name="houghThreshold" type="int" value="65" /> <!-- see opencv HoughLinesP for more info -->
        <param name="houghMinLineLength" type="double" value="50" />
        <param name="houghMaxLineGap" type="double" value="10" />
    </node>

</launch>