<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <include file="$(dirname)/mpc_planner_circuit.launch"/>

    <!-- <include file="$(find rr_iarrc)/launch/line_detection_3cam.launch"/> -->
    <include file="$(dirname)/laplacian_line_detector_front.launch">
        <arg name="camera_namespace" value="camera_center"/>
    </include>

    <include file="$(dirname)/lines_projector.launch">
        <arg name="use_camera_manager" value="true"/>
        <arg name="camera_name" value="camera_center"/>
        <arg name="is_side_cam" value="false"/>
    </include>

    <include file="$(find rr_iarrc)/launch/startlight_watcher.launch"/>

    <!-- <include file="$(find rr_iarrc)/launch/race_end_detector.launch"/> -->

    <node name="navigation_controller" pkg="rr_common" type="navigation_controller" output="screen">
        <param name="req_finish_line_crosses" type="int" value="1"/>
        <param name="startSignal" type="string" value="/start_detected"/>
        <param name="resetSignal" type="string" value="/reset_detected"/>
        <param name="finishLineCrossesSignal" type="string" value="/finish_line_crosses"/>
        <param name="steeringAfterFinishTime" type="double" value="0.7"/>
    </node>
</launch>
