<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <include file="$(find rr_iarrc)/launch/nn_planner_circuit.launch"/>

    <include file="$(find rr_iarrc)/launch/color_detector_standalone.launch"/>
    <include file="$(find rr_iarrc)/launch/race_end_detector.launch"/>
    <include file="$(find rr_iarrc)/launch/startlight_watcher.launch"/>

    <node name="navigation_controller" pkg="rr_common" type="navigation_controller" output="screen">
        <param name="req_finish_line_crosses" type="int" value="3"/>
        <param name="startSignal" type="string" value="/start_detected"/>
        <param name="resetSignal" type="string" value="/reset_detected"/>
    </node>
</launch>
