<launch>
    <remap from="/plan/steering" to="/steering"/>
    <remap from="/plan/speed" to="/speed"/>
    
    <include file="$(dirname)/laplacian_line_detector.launch"/>
    <!-- <include file="$(dirname)/line_detector_segnet.launch"/> -->

    <include file="$(dirname)/lines_pcl_converter.launch"/>
    <!-- <include file="$(dirname)/cone_detection.launch"/> -->
    <!-- <include file="$(dirname)/cone_detection_point.launch"/> -->

    <include file="$(find rr_platform)/launch/sedani.launch"/>

    <!-- <node pkg="rr_iarrc" type="simple_lane_keeper.py" name="simple_lane_keeper" output="screen"/> -->

    <include file="$(dirname)/mpc_planner_sedani.launch"/>

</launch>
