<launch>
    <node name="laplacian_line_detector" pkg="rr_iarrc" type="laplacian_line_detector" output="screen">
        <!--Minimum Area to Keep-->
        <param name="perfect_lines_min_cut" type="int" value="50" />
        <!--Strength of Floodfill-->
        <param name="Laplacian_threshold" type="int" value="20" />
        <!--Strength of Adaptive Thresholding-->
        <param name="adaptive_mean_threshold" type="int" value="3" />

        <!--The larger the height the lower it will be on the screen (Image Height = 1280)-->
        <param name="blockSky_height" type="int" value="550" />
        <param name="blockWheels_height" type="int" value="800" />
        <param name="blockBumper_height" type="int" value="650" />

        <param name="subscription_node" type="string" value="/camera_center/image_color_rect"/>
    </node>
</launch>
