<launch>
    <node name="sign_detector" pkg="rr_iarrc" type="sign_detector" output="screen">
        <!--Crop Area (-1 keeps whole screen)-->
        <param name="roi_x" type="int" value="-1" />
        <param name="roi_y" type="int" value="-1" />
        <param name="roi_width" type="int" value="600" />
        <param name="roi_height" type="int" value="600" />

        <param name="img_subscription" type="string" value="/camera/image_color_rect"/>

        <param name="sign_file_package_name" type="string" value="rr_iarrc"/>
        <param name="sign_file_path_from_package" type="string" value="/src/sign_detector/sign_forward.jpg"/>

        <param name="minimum_contour_area" type="double" value="300" />
        <param name="straight_match_similarity_threshold" type="double" value="0.3" />
        <param name="turn_match_similarity_threshold" type="double" value="0.3" />
        <param name="canny_threshold_low" type="double" value="60" />
        <param name="canny_threshold_low" type="double" value="200" /> <!-- usually about 2-3 times the low threshold -->

    </node>
</launch>
