<launch>
	<!-- Joystick Node -->
	<node name="joy_node" pkg="joy" type="joy_node" output="screen" respawn="false">
		<param name="dev" type="str" value="/dev/input/js0"/> 
	</node>
</launch>


<!--rosparam set joy_node/dev /dev/input/js0-->
<!--rosrun joy joy_node-->

<!--output="screen" prints out to terminal-->
