<launch>
  <node pkg="iarrc_motor_relay" type="iarrc_motor_relay_node" name="motor_relay" output="screen">
    <param name="speed_topic" type="string" value="/speed" />
    <param name="steering_topic" type="string" value="/steering" />
    <param name="serial_port" type="string" value="/dev/ttyACM0" />
  </node>
</launch>
