<launch>

    <env name="GAZEBO_MODEL_PATH" value="$(find rr_description)"/>

    <group ns="roboracing">
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(find rr_gazebo)/worlds/roboracing.world"/>
            <arg name="paused" value="false"/>
            <arg name="use_sim_time" value="true"/>
            <arg name="gui" value="true"/>
            <arg name="headless" value="false"/>
            <arg name="debug" value="false"/>
        </include>

        <param name="robot_description" command="cat $(find rr_description)/speedi/speedi.urdf" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

        <node pkg="avc" type="scanToPointCloud" name="scanToPointCloud" output="screen" />

        <node name="spawn_platform" pkg="gazebo_ros" type="spawn_model"
              args="-file $(find rr_description)/speedi/speedi.urdf
                -gazebo_namespace /roboracing/gazebo
                -urdf -model speedi
                -x 0 -y 0 -z 0
                -R 0 -P 0 -Y 0"/>
    </group>

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find rr_gazebo)/config/speedi_control.yaml" command="load"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" ns="/roboracing" args="joint_state_controller left_wheel_effort_controller right_wheel_effort_controller left_steer_position_controller right_steer_position_controller"/>

    <node name="sim_controller" pkg="rr_gazebo" type="speedi_controller" respawn="false" output="screen" />

</launch>