<launch>
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="heading" default="0"/>

    <node name="spawn_platform" pkg="gazebo_ros" type="spawn_model"
          args="-file $(find rr_description)/urdf/macaroni.urdf
            -gazebo_namespace /gazebo
            -urdf -model macaroni
            -x $(arg x) -y $(arg y) -z 0
            -R 0 -P 0 -Y $(arg heading)"/>
</launch>
