<launch>

    <param name="/use_sim_time" value="true" />

    <node name="gazebo" pkg="gazebo_ros" type="gzserver" respawn="false" output="screen"
          args="-e ode $(find rr_gazebo)/worlds/iarrc_drag.world" required="true"/>

    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen" required="true"/>

    <param name="/robot_description" command="cat $(find rr_description)/urdf/speedi.urdf" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

    <node pkg="avc" type="scanToPointCloud" name="scanToPointCloud" output="screen" />

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
          args="joint_state_controller left_wheel_effort_controller right_wheel_effort_controller
            left_steer_position_controller right_steer_position_controller camera_height_position_controller
            camera_tilt_position_controller --shutdown-timeout 1"/>

    <rosparam file="$(find rr_gazebo)/config/speedi_control.yaml" command="load"/>

    <node name="sim_controller" pkg="rr_gazebo" type="speedi_controller" respawn="false" output="screen" />

</launch>