<robot name="evgp_opponent" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="evgp_body.urdf.xacro"/>

    <xacro:evgp_body collision_bitmask="0x40" color="Purple"
    april0="tag36_11_00000"
    april1="tag36_11_00000"
    april2="tag36_11_00000"
    april3="tag36_11_00000"
    april4="tag36_11_00000"/>

    <gazebo reference="base_footprint">
        <kinematic>true</kinematic>
    </gazebo>

</robot>
