<robot name="evgp_opponent" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="evgp_body.urdf.xacro"/>

    <xacro:evgp_body collision_bitmask="0x20" color="Red"
    april2="tag36_11_00032"
    april3="tag36_11_00033"
    april4="tag36_11_00034"
    april5="tag36_11_00035"
    april6="tag36_11_00036"/>

</robot>
